<template lang="pug">
v-card
  v-toolbar(flat)
    v-toolbar-title {{ name }}
  v-card-text 
    v-simple-table
      thead: tr
        td Property
        td Type
      tbody
        tr(
          v-if='schema.properties'
          v-for='(prop) in Object.keys(schema.properties)' :key='`${name}_prop_${prop}`')
          td: .monospace {{ prop }}
          td(v-if='schema.properties[prop].type === "array"')
            .monospace {{ schema.properties[prop].items.type }}[]
          td(v-else)
            .monospace {{ schema.properties[prop].type }}
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'

@Component
export default class SchemasIndex extends Vue {
  name = 'EntityDTO?'
  schema = {
    type: 'object',
    properties: {
      id: {
        type: 'number',
      },
      created_at: {
        format: 'date-time',
        type: 'string',
      },
      date: {
        format: 'date-time',
        type: 'string',
      },
      name: {
        type: 'string',
      },
      tables: {
        type: 'array',
        items: {
          type: 'object',
        },
      },
    },
    required: ['id', 'created_at', 'date', 'name', 'tables'],
  }

  created() {}
}
</script>
