<template lang="pug">
div
  p {{ swagger }}
  template(v-for='tag in tags')
    div.mb-3
      h2 {{ tag }}
      v-expansion-panels
        template(v-for='ctrl in getControllers(tag)')
          OpenController(
            :value='ctrl')

</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
@Component
export default class IndexPage extends Vue {
  get swagger() {
    return this.$store.getters['swagger/swagger']
  }
  get tags() {
    return this.$store.getters['swagger/tags']
  }

  getControllers(tag: string) {
    const paths = this.$store.getters['swagger/controllerArray']
    const output: any[] = []
    console.log(paths)

    for (const i in paths) {
      for (const c in paths[i].controllers) {
        const ctrl = paths[i].controllers[c]

        if (ctrl.tags && ctrl.tags.includes(tag)) {
          output.push({
            path: paths[i].name,
            method: c,
            controller: ctrl,
          })
        }
      }
    }
    return output.sort((a: any, b: any) => 1)
  }
}
</script>
