<template lang="pug">
v-expansion-panel
  v-expansion-panel-header()
    //- v-toolbar-title()
    div
      v-chip.mr-2(small :color='color') {{ c.method.toUpperCase() }}
      | {{ c.path }}
  v-expansion-panel-content
    template(v-if='c.controller.parameters && c.controller.parameters.length > 0')
      h3 Parameters
      v-simple-table
        thead
          tr
            td Name
            td Required
            td In
            td Schema
        tbody
          tr(v-for='p in c.controller.parameters')
            td {{ p.name }}
            td {{ p.required }}
            td {{ p.in }}
            td {{ p.schema }}

      h3 Responses
        v-simple-table
          thead: tr
            th Status
            th Description
            th content
          tbody
            template(v-for='response in responses')
              tr()
                td {{ response.status }}
                td {{ response.opts.description }}
                td {{ response.opts.content }}
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Prop } from 'nuxt-property-decorator'

@Component({
  filters: {
    pretty: function (value: any) {
      return JSON.stringify(JSON.parse(value), null, 2)
    },
  },
})
export default class OpenController extends Vue {
  @Prop({ required: true })
  value!: any

  get c() {
    return this.value
  }

  get color() {
    switch (this.c.method.toLowerCase()) {
      case 'get':
        return 'success'
      case 'post':
        return 'primary'
      case 'delete':
        return 'error'
      case 'put':
        return 'warning'
    }
  }

  pretty(v: any) {
    return JSON.stringify(JSON.parse(v), null, 2)
  }

  get responses() {
    const output = []

    for (let k in this.c.controller.responses) {
      output.push({
        status: k,
        opts: this.c.controller.responses[k],
      })
    }
    return output
  }
}
</script>
