<template lang="pug">
v-btn(@click='toggleDarkMode' icon): v-icon mdi-brightness-6

</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'nuxt-property-decorator'
import Vuetify from 'vuetify'

@Component
export default class ThemeSwitcher extends Vue {
  mounted() {
    const theme = localStorage.getItem('dark_theme')
    if (theme) {
      if (theme == 'true') {
        this.$vuetify.theme.dark = true
      } else {
        this.$vuetify.theme.dark = false
      }
    }
  }

  toggleDarkMode() {
    this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    localStorage.setItem('dark_theme', this.$vuetify.theme.dark.toString())
  }
}
</script>
