<template lang="pug">
v-app(dark)
  template(v-if='swagger === null')
    v-alert(type='error') swagger.json not available
  template(v-else)
      
    v-app-bar(app flat)
      v-app-bar-nav-icon(@click.stop='drawer = !drawer')

      v-toolbar-title
        span {{ swagger.info.title }}
        span.ml-2: v-chip(small) v{{ swagger.info.version }}
      v-spacer
      ThemeSwitcher
    v-navigation-drawer(app v-model='drawer')
      v-list

        v-list-item(
          v-for='tag,i in tags' 
          :key='`nav_${tag}_${i}`'
          :to='`/tags/${tag}`')
          v-list-item-title {{ tag }}

        v-divider
        v-divider
        v-list-item(to='/schemas')
          v-list-item-title Schemas
    v-main
      v-container
        nuxt
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    }
  },
  mounted() {
    if (!this.$store.getters['swagger/swagger']) {
      this.$store.dispatch('swagger/load')
    }
  },
  computed: {
    swagger() {
      return this.$store.getters['swagger/swagger']
    },
    tags() {
      return this.$store.getters['swagger/tags']
    },
  },
}
</script>
